/* Make the uneditable parts of elements different from the editable parts */
.content-item-element__wrapper {
    background: repeating-linear-gradient(
      45deg,
      #e4e7eb,
      #edf0f5 5px,
      #e4e7eb 1px,
      #edf0f5 10px
    );
}

/* Make the editable parts of elements white again */
div[data-ui-input="item-text-element"]:not(.rte__content--is-disabled), div[data-ui-element="rte-content"]:not(.rte__content--is-disabled), div:not(.content-item-element--is-disabled) > .content-item-element__content > div > input.number__input, .content-item-element--is-name .content-item-element__name, div:not(.content-item-element--is-disabled) > .content-item-element__content input[data-ui-input="date-time"], div:not(.content-item-element--is-disabled) > .content-item-element__content .text-field__input {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

/* Remove box shadow for checkboxes */
.option__pane:focus-within .tree__name,  .option__pane:focus-within .option {
    box-shadow: none;
}

/* Decrease vertical space between elements */
.content-item-element__content {
    padding-bottom: 5px;
}
.content-item-element__header {
    padding-top: 5px;
}
.content-item-element--is-disabled > .content-item-element__header {
    padding-bottom: 0px;
}
.content-item-element__guidelines {
    margin-top: 0px;
}
.option__pane {
    margin-top: -5px;
    margin-bottom: -5px;
}

/* Hide guidelines when not editable */
.content-item-element--is-disabled > div > .content-item-element__guidelines {
    display: none;
}

/* Hide guideline elements when linked item */
.expanded-linked-item div[data-ui-element="guidelines-element"] {
    display: none;
}
