[class^="Graph-sizeContainer"] {
    background: url('https://github.com/KenticoDocs/tampermonkey-scripts/raw/master/files/champ_culture.jpg');
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.7) !important;
    background-blend-mode: color;
    background-position-y: 37px;
}

[class^="Graph-graph"] [class^="Graph-sizeContainer"] {
    background-size: 78%;
    background-position-x: 28px;
}

[class^="ReviewEditForm"] [class^="Graph-sizeContainer"] {
    background-size: 82%;
    background-position-x: 26px;
}

[class^="ReviewEditForm"] [class^="Graph-sizeContainer"] [class^="Graph-outerInteractive"] [class^="Graph-inner"]::before {
    display: none;
}